<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success alert-dismissable" role="alert">
    <button class="close" type="button" data-dismiss="alert">&times;</button>
    欢迎使用本系统
</div>
<h3>Thymeleaf test</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
            <form th:action="@{/th/postform}" method="post">
                <input type="text" name="name" placeholder="请输入影片名">
                <button type="submit">提交</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p th:text="${video}">无搜索结果</p>
        </div>
    </div>
</div>


<script th:src="@{/static/bootstrap/js/jquery-2.2.3.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>